.container{
    display: grid;
    width: 630px;
    height: 420px;
    margin-left: 25%;
    grid-template-columns: 300px 300px;
    grid-template-rows: 60px 80px 80px 60px 60px ;
    border: 2px solid black;
    column-gap: 30px;
    row-gap: 20px;
}
.box{
    text-align: center;
    justify-content: center;
    padding: 20px;
}
.box1{
    background-color:olive;
    grid-column: 1/-1;
    
}
.box2{
    background-color: yellowgreen;
    padding-top: 70px;
    grid-row:2/4 ;
}
.box3{
    background-color: blue;
}
.box4{
    background-color: orange;
}
.box5{
    background-color: aqua;
    grid-column: 1/-1;
}
.box6{
    background-color: violet;
    grid-column: 1/-1;
}